annexremote==1.6.5
anyio==4.4.0+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.3.0+computecanada
asttokens==2.4.1+computecanada
async_lru==2.0.4+computecanada
attrs==23.2.0+computecanada
Babel==2.15.0+computecanada
backports.tarfile==1.2.0
beautifulsoup4==4.12.3+computecanada
bleach==6.1.0+computecanada
boto3==1.34.148
botocore==1.34.148
boutiques==0.5.26
certifi==2024.2.2+computecanada
cffi==1.16.0+computecanada
chardet==5.2.0+computecanada
charset_normalizer==3.2.0+computecanada
ci-info==0.3.0
click==8.1.7+computecanada
colorama==0.4.6+computecanada
comm==0.2.2+computecanada
contourpy==1.2.1+computecanada
cryptography==42.0.8+computecanada
cycler==0.12.1+computecanada
datalad==1.1.1
dcm2niix==1.0.20220715
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
distro==1.9.0+computecanada
etelemetry==0.3.1
executing==2.0.1+computecanada
fasteners==0.19+computecanada
fastjsonschema==2.20.0+computecanada
filelock==3.15.4
fonttools==4.53.1
fqdn==1.5.1+computecanada
h11==0.14.0+computecanada
httpcore==1.0.5+computecanada
httpx==0.27.0+computecanada
humanize==4.10.0
icecream==2.1.3
idna==3.4+computecanada
importlib_metadata==8.2.0
ipykernel==6.29.5+computecanada
ipython==8.26.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.1.3+computecanada
iso8601==2.1.0+computecanada
isodate==0.6.1+computecanada
isoduration==20.11.0+computecanada
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1+computecanada
jeepney==0.8.0+computecanada
jinja2==3.1.4+computecanada
jmespath==1.0.1+computecanada
joblib==1.4.2+computecanada
json5==0.9.25+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2023.12.1+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
jupyter_events==0.10.0+computecanada
jupyter_lsp==2.2.5+computecanada
jupyter_server==2.14.1+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.1.3+computecanada
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.27.2+computecanada
jupyterlab_widgets==3.0.11+computecanada
keyring==25.2.1
keyrings.alt==5.0.1
kiwisolver==1.4.5+computecanada
livingpark_utils @ git+https://github.com/LivingPark-MRI/livingpark-utils@9f4193b6ff63cd830e732deb67d0dd679c9b9be9
looseversion==1.3.0
lxml==5.2.2+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.0+computecanada
matplotlib_inline==0.1.7+computecanada
mistune==3.0.2+computecanada
miutil==0.12.0
more-itertools==10.3.0
msgpack==1.0.8+computecanada
nbclient==0.10.0+computecanada
nbconvert==7.16.4+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.3+computecanada
nibabel==5.2.1+computecanada
nilearn==0.10.4
nipype==1.8.6
notebook==7.1.1+computecanada
notebook_shim==0.2.4+computecanada
numpy==1.26.4+computecanada
outcome==1.3.0.post0
overrides==7.7.0+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.4+computecanada
pathspec==0.12.1+computecanada
patool==2.3.0
pexpect==4.9.0+computecanada
pillow==10.3.0+computecanada
platformdirs==4.2.2+computecanada
ppmi_downloader @ git+https://github.com/LivingPark-MRI/ppmi-scraper@a720312eb819c6912bf3bd33e87d0d3d9f7b4d91
prometheus_client==0.20.0+computecanada
prompt_toolkit==3.0.47+computecanada
prov==2.0.1
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pycparser==2.21+computecanada
pydot==3.0.1
pygments==2.18.0+computecanada
pyparsing==3.1.2+computecanada
PySocks==1.7.1+computecanada
python-gitlab==4.8.0
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.0.1+computecanada
python_json_logger==2.0.7+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
pyzmq==26.0.3+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.0+computecanada
rdflib==6.3.2
referencing==0.35.1+computecanada
requests==2.32.3
requests_toolbelt==1.0.0+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rpds_py==0.18.1+computecanada
s3transfer==0.10.2+computecanada
scikit_learn==1.5.0+computecanada
scipy==1.13.1+computecanada
SecretStorage==3.3.3+computecanada
selenium==4.23.1
Send2Trash==1.8.3+computecanada
simplejson==3.19.2+computecanada
six==1.16.0+computecanada
sniffio==1.3.1+computecanada
sortedcontainers==2.4.0+computecanada
soupsieve==2.5+computecanada
spython==0.3.13
stack_data==0.6.3+computecanada
tabulate==0.9.0+computecanada
termcolor==2.4.0+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.5.0+computecanada
tinycss2==1.3.0+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.4+computecanada
traitlets==5.14.3+computecanada
traits==6.3.2
trio==0.26.0
trio-websocket==0.11.1
types_python_dateutil==2.8.19.20240106+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
uri_template==1.3.0+computecanada
urllib3==2.1.0+computecanada
wcwidth==0.2.13+computecanada
webcolors==24.6.0+computecanada
webdriver-manager==4.0.1
webencodings==0.5.1+computecanada
websocket_client==1.8.0+computecanada
widgetsnbextension==4.0.11+computecanada
wsproto==1.2.0+computecanada
zipp==3.19.2
